/build
*.iml
.gradle
gradlew
gradlew.bat
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/gradle.xml
/.idea
gradle/wrapper
/app/release
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
*.properties
app/src/main/assets/*.properties
